input[type="text"] {
    font-size:22px;
}
.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-field {
    size: 40px;
}
.search-button {
    
}
.nav-tabs {
    width: 100%;
}
.images-background {
    background-color: white;
    padding: 5px;
    display: block
}
.search-background {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
}

.pagi-container {
    padding: 10px;
    float: left;
    width: 100%;
}
.images-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 5px;
    float: left;
}
.image-description {
    display: inline;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
}
.image-description-text {
    font-size: 11pt;
}
.image-container {
    width: min-content;
    max-width: 800px;
    margin: 5px;
    background-color: white;
    float: left;
}
.story-background {
    float: left;
    background-color: white;
    padding: 20px;
    width: 100%;
}

.meta-block {
    float: left;
    padding-left: 50pt;
    padding-top: 20pt;
    width: min-content;
}
.meta-table {
    border: 1pt;
    border-radius: 5pt;
    width: 100%;
}
.meta-table-div {
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
}
.meta-table-head {
    padding-left: 10pt;
    padding-right: 10pt;
    padding-top: 4pt;
    padding-bottom: 4pt;
    background: #428bca;
    color: white;
}

.story-preview {
    float: left;
    padding-left: 10pt;
    padding-right: 30pt;
    padding-bottom: 20pt;
    width: 500pt;
    background: white;
}
.story-title{
    font-size: 16pt;
    font-weight: 700;
}

.story-description {
    display: inline;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;  
}
.story-description-text {
    font-size: 11pt;
}
.preview-background {
    margin: 5px;
    padding: 20px;
    background-color: white;
    height: min-content;
}
.preview-container {
    width: min-content;
}

.story-description-text-col1 {
    font-size: 11pt;
    width: 40%;
}
.story-description-text-col2 {
    font-size: 11pt;
    width: 20%;
}
.story-description-title {
    font-size: 11pt;
    font-weight: 500;
}
.item-label {
    color: cadetblue;
}
.pagi-center {
    text-align: center;
}
.jumbotron {
    padding-top: 30pt;
    padding-bottom: 30pt;
    background-color: gainsboro;
}

.image-preview {
    opacity: 1;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s ease;
    backface-visibility: hidden;
}
.image-big-preview {
    width: 600px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.green-dot {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.red-dot {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.html-headline {
    font-size: 16pt;
    font-weight: 500;
}
.highlighted-text {
    background-color: yellow;
}
.image-item {
    position: relative;
    border-bottom: 1px black;
}
.stats-table {
    font-size: 9pt;
}
.stats-div {
    background-color: white;
    padding: 8pt;
    margin: 8pt;
    border-radius: 5pt;
    height: auto;
}
.error-bar {
    background-color: pink;
    width: 100%;
}
.card{
    margin-bottom: 15px;
}
.story-card {
    width: 100%;
}

.view-link {
    float: right;
}