/* Variables */

:root {
    --highlight-colour: #4c7cc3;
    --highlight-hover: #345488;
}

body {
    background-image: url('/amador-loureiro-BVyNlchWqzs-unsplash-grey.jpg');
    background-attachment: fixed;
}
input[type="text"] {
    font-size:22px;
}
p {
    line-height: 1.4rem;
}
.pic-caption {
    font-size: 12pt;
    display: inline;
    font-style: italic;
}
.search-button {
    display: block;
    width: 100%;
    color: #fff;
    background: var(--highlight-colour);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    transition: background 0.4s;
}
.search-button-mini {
    height: 36px;
    width: 36px;
    padding: 0px;
    background: var(--highlight-colour);
    color: white;
    transition: background 0.4s;
    border: 1px;
}
.search-button:hover, .search-button-mini:hover{
    background: var(--highlight-hover);
}
.search-field {
    size: 40px;
}
.byline {
    font-style: italic;
}
/* Linkbar */
.linkbar {
    margin-top: 1rem;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 2;
}

.nav-tabs {
    width: 100%;
}
.nav-link .item-tabs{
    background: #ddd;
}
.images-background {
    background-color: white;
    padding: 5px;
    display: block;
}
.pagi-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pagination {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 5px;
}
.image-description {
    display: inline;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;
    text-align: left;
}
.image-description-text {
    font-size: 11pt;
}
.item-background {
    display: grid;
    grid-template-columns: 6fr 4fr;
    background-color: white;
    margin-top: 10px;
    padding: 30px;

    /* width: 100%; */
}
/* Metadata stuff */

.meta-list {
    display: grid;
}
.meta-block {
    float: left;
    padding-left: 50pt;
    padding-top: 20pt;
    width: 400px;
}
.meta-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.meta-footer div {
    min-width: 200px;
    margin-bottom: 0.4rem;
}
.meta-grid {
    display: grid;
    grid-template-columns: 125px auto;
}
.content-preview {
    padding-right: 25px;
}
.story-title{
    font-size: 16pt;
    font-weight: 700;
}

.story-description {
    display: inline;
    flex-wrap: wrap;
    padding: 5px;
    margin: 5px;  
}
.story-description-text {
    font-size: 11pt;
}
.preview-background {
    margin: 5px;
    padding: 20px;
    background-color: white;
    height: min-content;
}
.preview-container {
    max-width: min-content;
}

.story-description-text-col1 {
    font-size: 11pt;
    max-width: 40%;
}
.story-description-text-col2 {
    font-size: 11pt;
    max-width: 20%;
}
.story-description-title {
    font-size: 11pt;
    font-weight: 500;
}
.item-label {
    color: cadetblue;
}
.pagi-center {
    text-align: center;
}
.jumbotron {
    padding-top: 30pt;
    padding-bottom: 30pt;
    background-color: gainsboro;
}

.image-preview {
    opacity: 1;
    display: inline;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .5s ease;
    backface-visibility: hidden;
    margin: 6px;
}
.image-big-preview {
    max-width: 600px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.green-dot {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}
.red-dot {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

/* Article content */

div.doc {
    padding-right: 2rem;
}

h1.headline {
    font-size: 2.2rem;
    line-height: 2.4rem;
    padding-bottom: 1rem;
}

/* Photo-group styles */

div.photo-group {
    display: inline;
}


.highlighted-text {
    background-color: yellow;
}
.image-item {
    display: inline;
}
.stats-table {
    font-size: 9pt;
}
.stats-div {
    background-color: white;
    padding: 8pt;
    margin: 8pt;
    border-radius: 5pt;
    height: auto;
}
.error-bar {
    background-color: pink;
    width: 100%;
}
.card{
    margin: 0;
    margin-top: 1rem;
}
.search-card {
    margin: auto;
    margin-top: 2rem;
    width: 80%;
    background: #fff;
}
.items-container {
    padding-left: 18px;
    padding-right: 18px;
    background: #fff;
}
.story-card {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.view-link {
    float: right;
}
.pager-buttons {
    float: right;
}
.item-toolbar {
    display: inline-block;
    background-color: none;
    color:black;
    padding-left: 1rem;
    padding-bottom: 1rem;
    width: 400px;
    font-size: 20pt;
    margin-top: 10pt;
}
div.details {
    display: flex;
}
.details-box div {
    flex: 2
}
.text-preview {
    padding-bottom: 1rem;
}

.text-preview h1 {
    font-size: 1.2rem;
    font-weight: 900;
}
.text-preview h2 {
    font-size: 1.1rem;
}